@media(max-width: 500px) {
    #login-card,
    #login-form-col{
        margin: 0 !important;
        padding: 0 !important;
    }
}
#login-card button{
    padding: 0 !important;
}

ion-button {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#login-card{
    top: 50%;
    transform: translateY(-50%);
}
ion-toolbar {
    display: none !important;
}
ion-item {
    z-index: 999 !important;
}