.mat-toolbar span {
    cursor: pointer;
}

ion-item {
    --background: #121212 !important;
    text-align: center;
}
ion-list {
    padding: 0 !important;
}

@media(max-width: 500px) {
    .app-menu {
        --width: 100%;
    }
}
ion-button {
    --background-focused: transparent !important;
    --background-hover: transparent !important;
    --background-focused-opacity: 0 !important;
    --background-hover-opacity: 0 !important;
    --transition: none !important;
}